/*BACKGROUND VIDEO*/
#myVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}


body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


/*PRESENTATION HERO*/
.hero {
  background-color: antiquewhite;
  margin: 0;
  width: max-content;
  border-radius: 2rem;
  padding: 5vw;
}

.content {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

/*NAVBAR*/
aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.nav-bar {
  text-align-last: center;
  width: 100%;
}

a.nav-button {
  text-decoration-line: none;
}

.nav-button {
  font-size: 2vw;
  color: rgb(61, 61, 60);
  background-color: #ffdbfa;
  padding: 1rem;
  border-radius: 1rem;
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/*INTRODUCTION DIV*/
.introduction {
  display: flex;
  align-items: center;
}

.line-1 {
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  white-space: nowrap;
  overflow: hidden;
}

.hero-title {
  animation: typewriter 3s steps(24) 1s 1 normal both, blinkTextCursor 800ms steps(24) infinite normal;
  font-size: 2.4vw;
  padding: 2vw;
}

@keyframes typewriter {
  from {
    width: 0;
  }

  to {
    width: 90%;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(208, 74, 235, 0.75);
  }

  to {
    border-right-color: transparent;
  }
}


/*PORTRAiT*/
.image {
  align-self: center;
}

.portrait {
  max-width: 25vw;
  border-radius: 3rem;
  padding: 1vw;
  float: right;
}

/*FOOTER*/
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 1%;
}

.signature {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 2vw;
}

/*****/
@media (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: center;
  }

  .introduction {
    order: 2;
    text-align: center;
    margin: 3rem 0 3rem 0;
  }

  .hero-title {
    font-size: 4vw;
  }

  aside {
    order: 1;
    text-align: center;
  }

  .nav-bar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .nav-button {
    margin: 0;
    font-size: 3vw;
  }

  .image {
    order: 3;
    margin-top: 1rem;
    text-align: center;
    /* Center the image */
  }

  .portrait {
    max-width: 40vw;
  }

}

/*******/

@media (max-width: 425px) {
  .introduction {
    flex-direction: column;
  }

  .hero-title {
    font-size: 6vw;
  }

  .nav-button {
    font-size: 4vw;
  }

  .portrait {
    max-width: 65vw;
  }

  .signature {
    font-size: 3.5vw;
  }

}