/********************/
/**INDEX**/

/*BACKGROUND VIDEO*/
#myVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}


body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #BC58D8;
}


/*PRESENTATION HERO*/
.hero {
  display: block;
  background-color: rgb(247, 221, 188);
  margin: 0;
  width: max-content;
  border-radius: 2rem;
  padding: 4vw;
  width: 0;
  overflow: hidden;
  transition: width 1.5s ease, opacity 1.5s ease;
  opacity: 0;
}

.content {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

/*NAVBAR*/
aside {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
}


.nav-bar {
  text-align-last: center;
  width: 100%;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 1.35s ease, opacity 1.35s ease;
}

a {
  text-decoration-line: none;
  color: none;
}

.nav-button {
  font-size: 2vw;
  color: rgb(61, 61, 60);
  background-color: #d491e7;
  padding: 1rem;
  border-radius: 1rem;
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: background-color 0.5s, transform 0.5s;
  cursor: pointer;
}

.nav-button:hover {
  background-color: #a94daa;
  transform: scale(1.05);
}

.nav-button:active {
  background-color: #8f3d91;
  transform: scale(0.95);
}

/*INTRODUCTION DIV*/
.introduction {
  display: flex;
  align-items: center;
  order: 2;
  text-align: center;
  margin: 2rem 0 2rem 0;
  transform: translateY(0);
  transition: transform 1s ease, opacity 1s ease;
}


.hero-title {
  font-size: 2.4vw;
  padding: 2vw;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;
}

.undertitle{
  font-size: 1.5vw;
}

@keyframes typewriter {
  from {
    width: 0;
  }

  to {
    width: 90%;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(208, 74, 235, 0.75);
  }

  to {
    border-right-color: transparent;
  }
}


/*PORTRAIT*/
.image {
  align-self: center;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 1.6s ease, opacity 1.6s ease;
  order: 3;
}

.portrait {
  max-width: 25vw;
  border-radius: 3rem;
  padding: 1vw;
  float: right;
}

/**FOOTER**/
.profileIcons {
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icons {
  width: 2.5em;
  margin: 0 0.5em;
  transition: transform 0.5s;
  cursor: pointer;
}

.icons:hover {
  transform: scale(1.15);
}

svg {
  color: black;
}


/**************************/
/**HOME**/
/********************/
.hero-normal {
  display: block;
  background-color: rgb(247, 221, 188);
  margin: 0;
  width: max-content;
  border-radius: 2rem;
  padding: 4vw;

}

.content-normal {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

/*NAVBAR*/
.aside-normal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.nav-bar-normal {
  text-align-last: center;
  width: 100%;

}

.introduction-normal {
  display: flex;
  align-items: center;
  order: 2;
  text-align: center;
  margin: 2rem 0 2rem 0;
  transition: transform 1s ease, opacity 1s ease;
}

.hero-title-normal {
  font-size: 2.4vw;
  padding: 2vw;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes typewriter {
  from {
    width: 0;
  }

  to {
    width: 90%;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(208, 74, 235, 0.75);
  }

  to {
    border-right-color: transparent;
  }
}


.image-normal {
  align-self: center;
  order: 3;
}

.portrait-normal {
  max-width: 25vw;
  border-radius: 3rem;
  padding: 1vw;
  float: right;
}


/**********************************/
/***ABOUT******/
/**********************************/
.video {
  align-self: center;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 1.6s ease, opacity 1.6s ease;
  order: 3;
}

.introduction-video {
  max-width: 25vw;
  border-radius: 3rem;
  padding: 1vw;
  float: right;

}


.hero-title-about {
  display: flex;
  justify-content: center;
  font-size: 2.4vw;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  transform: translateY(0);
  transition: opacity 1.5s ease;
}

.introduction-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  order: 2;
  text-align: center;
}

.content-about {
  font-size: 1.6vw;
  padding: 2vw;
  overflow: hidden;
}


/***************MEDIA****************************/
/**********************************************/
/***************768*************************/
@media (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: center;
  }

  .content-normal {
    flex-direction: column;
    align-items: center;
  }

  .hero-title {
    font-size: 3vw;
  }

  .hero-title-normal {
    font-size: 3vw;
  }

  aside {
    order: 1;
    text-align: center;
  }

  .aside-normal {
    order: 1;
    text-align: center;
  }

  .nav-bar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .nav-bar-normal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }


  .nav-button {
    margin: 0;
    font-size: 3vw;
  }

  .nav-button.clicked {
    background-color: #8f3d91;
    transform: scale(0.95);
    font-size: 2vw;
  }

  .introduction {
    margin: 2rem 0 1rem 0;
  }

  .introduction-normal {
    margin: 2rem 0 1rem 0;
  }

  .undertitle{
    font-size: 1.7vw;
  }

  .image {
    order: 3;
    margin-top: 1rem;
    text-align: center;
  }

  .image-normal {
    order: 3;
    margin-top: 1rem;
    text-align: center;
  }

  .portrait {
    max-width: 40vw;
  }

  .portrait-normal {
    max-width: 40vw;
  }
}

/*****************************************************/
/********************425******************************/
@media (max-width: 425px) {
  .introduction {
    flex-direction: column;
  }

  .introduction-normal {
    flex-direction: column;
  }

  .hero-title {
    font-size: 5vw;
  }

  .hero-title-normal {
    font-size: 5vw;
  }

  .undertitle{
    font-size: 3vw;
  }

  .nav-button {
    font-size: 4vw;
  }

  .portrait {
    max-width: 65vw;
  }

  .portrait-normal {
    max-width: 65vw;
  }
}