body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*BACKGROUND VIDEO*/
#myVideo {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

/*PRESENTATION HERO*/
.hero {
  background-color: antiquewhite;
  display: flex;
  max-width: 50%;
  border-radius: 15px;
  padding: 2vw;
  margin-left: 20vw;
  margin-top: 10vw;
  
}

/*NAVBAR*/
aside{
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.nav-bar {
  text-align-last: center;
  max-width: min-content;
  display: flex;
  flex-direction: column;
}

/*NAVBAR BUTTONS*/
.nav-button {
  max-width: min-content;
  margin: 0.5vw;
  align-self: center;
}

/*TYPEWRITER TITLE*/
.line-1 {
  position: relative;
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  white-space: nowrap;
  overflow: hidden;
}
.hero-title {
  animation: typewriter 3s steps(24) 1s 1 normal both, blinkTextCursor 500ms steps(24) infinite normal;
  display: flex;
  flex-direction: row;
  font-size: 1.2vw;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(208, 74, 235, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}


/*PORTRAiT*/
.portrait {
  max-width: 20vw;
  border-radius: 15px;
}

/*FOOTER*/
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 1%;
}

.signature {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 2vw;
}
